doctype html
html lang="ja"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width,initial-scale=1"
    link rel="stylesheet" href="./css/style.css"
    title HN-with-SW
  body
    .Header
      h1.Header__title Nacker News

    #list.List
    script src="./js/bundle.js"
